<h1>Budget</h1>
<div class="balance-cards">
  <app-balance
    *ngIf="annualBalance"
    [action]="action.Incomes"
    [annualBalance]="annualBalance"
    [total]="summary.incomeTotal"
    [monthly]="summary.incomeMonthly"
    [today]="summary.incomeToday"
  ></app-balance>
  <app-balance
    *ngIf="annualBalance"
    [action]="action.Expenses"
    [annualBalance]="annualBalance"
    [total]="summary.expensesTotal"
    [monthly]="summary.expensesMonthly"
    [today]="summary.expensesToday"
  ></app-balance>
</div>
