:host {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;

  .category-lists {
    text-align: left;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
