:host {
  .logo {
    display: flex;
    align-items: center;

    .icon {
      filter: brightness(0) invert(1);
      height: 42px;
      width: 42px;
    }
  }

  .toolbar {
    display: flex;
    justify-content: space-between;
  }

  .navigation {
    display: flex;

    .navigation-link {
      vertical-align: middle;
      line-height: 64px;
      text-decoration: none;
      color: white;
      padding: 0 15px;
      font-size: 15px;
    }
  }
}
