<mat-card class="balance-card">
  <div class="title-row">
    <span class="text-capitalize">{{action}}</span>
    <mat-icon color="accent" (click)="openDialog()">add_circle</mat-icon>
  </div>
  <mat-card-content class="balance">
    <div class="balance-info">
      <ul class="data-list">
        <li><span>Today:</span> 0,00</li>
        <li><span>This month:</span> 0,00</li>
        <li><span>total:</span> 0,00</li>
      </ul>
    </div>
    <div class="balance-chart">
      chart placeholder
    </div>
  </mat-card-content>
</mat-card>
